 /* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: Arial;
    color: #CBF095;
    font-size: 5.4vw;
    margin-top: 70px;
    border: black;
    margin-bottom: 0;
}

p {
    font-size: 2.4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cfe4b2;
}

/* Set up body to occupy full height */
 body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Ensures content is not right at the edges */
}

/* bow container: align bow to the right side of the links */
.image1 img {
    position: absolute;
    left: 5vw;
    top: 12vw;
    width: 17vw;
    height: auto;
}

.image2 img {
    position: absolute;
    right: 10vw;
    bottom: 0.2vw ;
    width: 25vw;
    height: auto;
}

/* Heart icon at the bottom right */
.heart {
    font-size: 4vw;  /* Size of the heart icon */
    color: #FFC0CB;   /* Pink color */
    position: fixed;  /* Fix it to the bottom-right of the screen */
    bottom: 0.6vw;
    right: 0.2vw;
    text-decoration: none; /* Remove underline */
    transition: transform 0.3s ease, color 0.3s ease;
}

.heart:hover {
    color: #f76262;      /* Change color on hover */
    transform: scale(1.2);  /* Scale the heart when hovered */
}

/* Links Container */
.links-container {
    display: flex;             /* Use flexbox to place items in a row */
    flex-direction: column;       /* Align items horizontally */
    margin-left: 38%;
    position: relative;        /* Allows for absolute positioning of bow */
}

/* Links Styling */
.link {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #CBF095;
    background-color: #403f41;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 200px;
}

.link :hover {
    background-color: #CBF095;
    color: #000000;
    transform: scale(1.1);
}

.bow1 img {
    position: absolute;
    left: 10px;
    margin-top: 0.3vw;
    width: 5vw;
    height: auto;
}

.bow2 img {
    position: absolute;
    right:10px;
    margin-top: 0.3vw;
    width: 5vw;
    height: auto;
}


.bow3 img {
    position: absolute;
    right: 20%;
    top: 45%;
    width: 5vw;
    height: auto;
}

.bow4 img {
    position: absolute;
    left: 20%;
    top: 45%;
    width: 5vw;
    height: auto;
}

.bow5 img {
    position: absolute;
    right: 3vw;
    bottom: 1vw;
    width: 5vw;
    height: auto;
}

.bow6 img {
    position: absolute;
    left: 3vw;
    bottom: 1vw;
    width: 5vw;
    height: auto;
}